services:
  openWebUI:
    image: ghcr.io/open-webui/open-webui:main
    container_name: ${DOCKER_CONTAINER_NAME_PREFIX}_openwebui
    hostname: openwebui
    networks:
      - traefik-net
    restart: unless-stopped
    volumes:
      - ./open-webui-local:/app/backend/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.openwebui.rule=Host(`openwebui.domain.com`)"
      - "traefik.http.routers.openwebui.entrypoints=https"
      - "traefik.http.services.openwebui.loadbalancer.server.port=8080"
    environment:
      OLLAMA_BASE_URLS: http://ollama:11434
    ports:
      - 8080:8080

  ollama:
    image: ollama/ollama:0.15.4
    container_name: ${DOCKER_CONTAINER_NAME_PREFIX}_ollama
    restart: unless-stopped
    hostname: ollama
    networks:
      - traefik-net
    volumes:
      - ${DOCKER_PATH_PERSISTENT}/ollama-local:/root/.ollama
networks:
  traefik-net:
    external: true