networks:
  zabbix-network:
    driver: bridge
services:

  model-serving:
    image: chaimt/model-server:main
    container_name: ${DOCKER_CONTAINER_NAME_PREFIX}_model_serving
    restart: unless-stopped
    network_mode: bridge
    ports:
      - "8080:8080"
    volumes:
      - ./models:/app/models
      - ./config:/app/config
    environment:
      - TZ=${DOCKER_TZ}
      - log_level=${log_level:-info}
      - gemini_api=${gemini_api}
      - PYTHONUNBUFFERED=1
    # Add ulimits for large file handling
    ulimits:
      nofile:
        soft: 65536
        hard: 65536

  duplicati:
    image: duplicati/duplicati:2.2.0.100
    container_name: ${DOCKER_CONTAINER_NAME_PREFIX}_duplicati
    hostname: duplicati
    restart: unless-stopped
    # Recommendation: Duplicati needs root user to get access to all files
    user: "${DOCKER_ROOTPUID:-0}:${DOCKER_ROOTPGID:-0}"
    network_mode: bridge
    ports:
      - 8200:8200
    volumes:
      - ${DOCKER_PATH_PERSISTENT}/duplicati_data:/data:rw
      - ${DOCKER_PATH_PERSISTENT}/duplicati_config/:/config:ro            
      - ${DOCKER_PATH_PERSISTENT}:/source:ro      
    environment:
      - TZ=${DOCKER_TZ}

  # watchtower:
  #   image: containrrr/watchtower:1.7.1
  #   container_name: ${DOCKER_CONTAINER_NAME_PREFIX}_watchtower
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   restart: unless-stopped
  #   environment:
  #     - WATCHTOWER_POLL_INTERVAL=86400
  #     - WATCHTOWER_TRACE=true
  #     - WATCHTOWER_CLEANUP=true
  #     - WATCHTOWER_MONITOR_ONLY=true
  #     - WATCHTOWER_DEBUG=true
  #     - WATCHTOWER_NOTIFICATIONS=shoutrrr
  #     - WATCHTOWER_NOTIFICATION_URL=telegram://${BOT_TOKEN}@telegram/?channels=${CHAT_ID}

  diun:
    image: crazymax/diun:4.30
    command: serve
    volumes:
      - "./data:/data"
      - "/var/run/docker.sock:/var/run/docker.sock"
    restart: unless-stopped
    environment:
      - "TZ=${DOCKER_TZ}"
      - "DIUN_WATCH_WORKERS=20"
      - "DIUN_WATCH_SCHEDULE=0 */6 * * *"
      - "DIUN_WATCH_JITTER=30s"
      - "DIUN_PROVIDERS_DOCKER=true"
      - "DIUN_NOTIF_TELEGRAM_TOKEN=${BOT_TOKEN}"
      - "DIUN_NOTIF_TELEGRAM_CHATIDS=${CHAT_ID}"
      - "DIUN_NOTIF_TELEGRAM_TEMPLATETITLE=[${DOCKER_CONTAINER_NAME_PREFIX}] {{ .Entry.Image }} released"
    labels:
      - "diun.enable=true"
  dozzle:
    container_name: ${DOCKER_CONTAINER_NAME_PREFIX}_dozzle
    image: amir20/dozzle:v8.14.12
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9999:8080

  zabbix-agent:
    image: zabbix/zabbix-agent:alpine-latest
    container_name: zabbix-agent
    restart: unless-stopped
    environment:
      - ZBX_SERVER_HOST=10.0.0.105  # replace with your actual Zabbix server hostname or IP
      - ZBX_HOSTNAME=zabbix-monitor
    networks:
      - zabbix-network
    volumes:
      - /etc/localtime:/etc/localtime:ro




