volumes:
  n8n_storage:
    external: true

networks:
  zabbix-network:
    external: true

services:
  duplicati:
    image: duplicati/duplicati:2.1.1.104
    container_name: ${DOCKER_CONTAINER_NAME_PREFIX}_duplicati
    hostname: duplicati
    restart: unless-stopped
    # Recommendation: Duplicati needs root user to get access to all files
    user: "${DOCKER_ROOTPUID:-0}:${DOCKER_ROOTPGID:-0}"
    network_mode: bridge
    ports:
      - 8200:8200
    volumes:
      - ${DOCKER_PATH_PERSISTENT}/duplicati_data:/data:rw
      - ${DOCKER_PATH_PERSISTENT}/duplicati_config/:/config:ro            
      - ${DOCKER_PATH_PERSISTENT}:/source:ro      
    environment:
      - TZ=${DOCKER_TZ}

  watchtower:
    image: containrrr/watchtower:1.7.1
    container_name: ${DOCKER_CONTAINER_NAME_PREFIX}_watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    environment:
      - WATCHTOWER_POLL_INTERVAL=86400
      - WATCHTOWER_TRACE=true
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_MONITOR_ONLY=true
      - WATCHTOWER_DEBUG=true
      - WATCHTOWER_NOTIFICATIONS=shoutrrr
      - WATCHTOWER_NOTIFICATION_URL=telegram://${BOT_TOKEN}@telegram/?channels=${CHAT_ID}

  dozzle:
    container_name: ${DOCKER_CONTAINER_NAME_PREFIX}_dozzle
    image: amir20/dozzle:v8.14.7
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9999:8080

  n8n:
    image: n8nio/n8n:1.118.2
    restart: unless-stopped
    user: "1000:1000"
    # user: "${UID}:${GID}"
    container_name: ${DOCKER_CONTAINER_NAME_PREFIX}_n8n
    ports:
      - 5678:5678
    environment:
      - N8N_HOST=n8n.turel.cloud    
      - GENERIC_TIMEZONE=Asia/Jerusalem
      - TZ=Asia/Jerusalem
      - WEBHOOK_URL=https://n8n.turel.cloud
      - VUE_APP_URL_BASE_API=https://n8n.turel.cloud    
      - N8N_SECURE_COOKIE=false  
      - N8N_RUNNERS_ENABLED=true
    volumes:
      - ${DOCKER_PATH_PERSISTENT}/n8n/.n8n:/home/node/.n8n

  

  zabbix-agent:
    image: zabbix/zabbix-agent:alpine-latest
    container_name: zabbix-agent
    restart: unless-stopped
    environment:
      - ZBX_SERVER_HOST=10.0.0.105  # replace with your actual Zabbix server hostname or IP
      - ZBX_HOSTNAME=zabbix-workflows
    networks:
      - zabbix-network
    volumes:
      - /etc/localtime:/etc/localtime:ro
