volumes:
  siyuan-data:                                  # Declares a named volume for persisting application data.

networks:
  zabbix-network:
    driver: bridge
services:
  duplicati:
    image: duplicati/duplicati:2.2.0.103
    container_name: ${DOCKER_CONTAINER_NAME_PREFIX}_duplicati
    hostname: duplicati
    restart: unless-stopped
    # Recommendation: Duplicati needs root user to get access to all files
    user: "${DOCKER_ROOTPUID:-0}:${DOCKER_ROOTPGID:-0}"
    network_mode: bridge
    ports:
      - 8200:8200
    volumes:
      - ${DOCKER_PATH_PERSISTENT}/duplicati_data:/data:rw
      - ${DOCKER_PATH_PERSISTENT}/duplicati_config/:/config:ro            
      - ${DOCKER_PATH_PERSISTENT}:/source:ro      
    environment:
      - TZ=${DOCKER_TZ}

  
  diun:
    image: crazymax/diun:4.31.0
    container_name: ${DOCKER_CONTAINER_NAME_PREFIX}_diun
    command: serve
    volumes:
      - "./data:/data"
      - "/var/run/docker.sock:/var/run/docker.sock"
    restart: unless-stopped
    environment:
      - "TZ=${DOCKER_TZ}"
      - "DIUN_WATCH_WORKERS=20"
      - "DIUN_WATCH_SCHEDULE=0 */6 * * *"
      - "DIUN_WATCH_JITTER=30s"
      - "DIUN_PROVIDERS_DOCKER=true"
      - "DIUN_NOTIF_TELEGRAM_TOKEN=${BOT_TOKEN}"
      - "DIUN_NOTIF_TELEGRAM_CHATIDS=${CHAT_ID}"
      - "DIUN_NOTIF_TELEGRAM_TEMPLATETITLE=[${DOCKER_CONTAINER_NAME_PREFIX}] {{ .Entry.Image }} released"
    labels:
      - "diun.enable=true"

  dozzle:
    container_name: ${DOCKER_CONTAINER_NAME_PREFIX}_dozzle
    image: amir20/dozzle:v9.0.3
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9999:8080

  zabbix-agent:
    image: zabbix/zabbix-agent:alpine-latest
    container_name: zabbix-agent
    restart: unless-stopped
    environment:
      - ZBX_SERVER_HOST=10.0.0.105  # replace with your actual Zabbix server hostname or IP
      - ZBX_HOSTNAME=zabbix-openclaw
    networks:
      - zabbix-network
    volumes:
      - /etc/localtime:/etc/localtime:ro

  openclaw:
    image: alpine/openclaw:2026.2.2
    container_name: ${DOCKER_CONTAINER_NAME_PREFIX}_openclaw
    ports:
      - 8000:8000
    volumes:
      - ${DOCKER_PATH_PERSISTENT}/openclaw/config:/root/.openclaw
      - ${DOCKER_PATH_PERSISTENT}/openclaw/workspace:/root/openclaw/workspace
    restart: unless-stopped
    environment:
      # A list of time zone identifiers can be found at https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
      - TZ=${DOCKER_TZ}
      - PUID=1000  # Customize user ID
      - PGID=1000  # Customize group ID


